extends layout

block content
    .col-xs-12.col-sm-8.col-md-7.col-lg-6.center-block
      .aboutme
        .aboutme-i
          img.aboutme-logo(src='/images/peet_logo_white_shadow.svg')
          hgroup.aboutme-hgroup
            h1#gradient Pobporn Burintarathikul
            h2 Display Engineer (HTML)
          p.aboutme-content I am part of HTML team at Taskworld. Love to learn a new thing and try to keep pace wth the latest technology.
        .contact
          a.zoomIn(href='mailto:pobporn.b@taskworld.com')
            i(class=['fa', 'fa-envelope'])
          a(href='https://taskworld.slack.com/team/pobporn', target='_blank')
            i(class=['fa', 'fa-slack'])
          a(href='https://github.com/pobpornburin', target='_blank')
            i(class=['fa', 'fa-github-alt'])