doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cookie|Abel|Cabin+Sketch|Nova+Cut|Jacques+Francois+Shadow|Raleway|Archivo+Narrow|Karla')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    .container    
      .row
        block content
        footer.footer &copy; Copyright 2014. Tw-challenges #1 Pobpornburin
    script(type='text/javascript', src='/lib/jquery/jquery.min.js')
    script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')